doctype html
html(lang="en")
    head
        title="ISSYL"
        link(href='../style/main.css', rel='stylesheet')

    body
	    div.container
	        div.header
	            h1 It's so short you'll LOL
				
	        div.row
				label Link not found