doctype html
html(lang="en")
	head
		title="ISSYL"
		link(href='../style/main.css', rel='stylesheet')

	body
		div.container
			div.header
				h1 It's so short you'll LOL!

			div.row
				label Your shortened URL is
				input(type=text name=final value=base_url+'/'+id readonly="readonly" onclick="this.select(); return false")